*.jar
*.class
build-run-report/*
.gradle/*
build/*
reports/*
**/*.properties
/bin/*
/build/

.classpath
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
.settings/org.eclipse.jdt.core.prefs
soapui.log
soapui-errors.log
global-groovy.log
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__xom_xom_1_0.xml
.idea/libraries/Gradle__xml_apis_xml_apis_1_3_03.xml
.idea/libraries/Gradle__xerces_xercesImpl_2_8_1.xml
.idea/libraries/Gradle__xalan_xalan_2_7_0.xml
.idea/libraries/Gradle__tangosol_coherence_3_7_1.xml
.idea/libraries/Gradle__saxpath_saxpath_1_0_FCS.xml
.idea/libraries/Gradle__pdlutil_pdlutil_pdlom_1_3.xml
.idea/libraries/Gradle__pdlutil_pdlutil_backward2x_1_1.xml
.idea/libraries/Gradle__pdlutil_pdlutil_3_27.xml
.idea/libraries/Gradle__org_togglz_togglz_core_2_0_1_Final.xml
.idea/libraries/Gradle__org_springframework_spring_tx_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_test_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_messaging_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jms_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jdbc_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_slf4j_slf4j_log4j12_1_6_4.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_6_4.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_6.xml
.idea/libraries/Gradle__org_reflections_reflections_0_9_9_RC1.xml
.idea/libraries/Gradle__org_mortbay_jetty_servlet_api_3_0_pre4.xml
.idea/libraries/Gradle__org_mortbay_jetty_jetty_util_6_1_25.xml
.idea/libraries/Gradle__org_mortbay_jetty_jetty_6_1_5.xml
.idea/libraries/Gradle__org_mockito_mockito_all_1_9_5.xml
.idea/libraries/Gradle__org_jvnet_staxex_stax_ex_1_7_1.xml
.idea/libraries/Gradle__org_jvnet_mimepull_mimepull_1_9_1.xml
.idea/libraries/Gradle__org_javassist_javassist_3_20_0_GA.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_all_1_3.xml
.idea/libraries/Gradle__org_glassfish_jersey_media_jersey_media_json_jackson_2_22_2.xml
.idea/libraries/Gradle__org_glassfish_jersey_media_jersey_media_jaxb_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_ext_jersey_entity_filtering_2_22_2.xml
.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_server_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_common_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_client_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_containers_jersey_container_servlet_core_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_containers_jersey_container_servlet_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_25_1.xml
.idea/libraries/Gradle__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_utils_2_5_0_b32.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_locator_2_5_0_b32.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_api_2_5_0_b32.xml
.idea/libraries/Gradle__org_glassfish_hk2_external_javax_inject_2_5_0_b32.xml
.idea/libraries/Gradle__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b32.xml
.idea/libraries/Gradle__org_glassfish_ha_ha_api_3_1_9.xml
.idea/libraries/Gradle__org_glassfish_gmbal_gmbal_api_only_3_1_0_b001.xml
.idea/libraries/Gradle__org_glassfish_external_management_api_3_0_0_b012.xml
.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
.idea/libraries/Gradle__org_easytesting_fest_test_2_1_0.xml
.idea/libraries/Gradle__org_easytesting_fest_assert_core_2_0M10.xml
.idea/libraries/Gradle__org_codehaus_woodstox_woodstox_core_asl_4_1_4.xml
.idea/libraries/Gradle__org_codehaus_woodstox_stax2_api_3_1_1.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_xc_1_9_13.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
.idea/libraries/Gradle__org_codehaus_groovy_groovy_all_2_4_8.xml
.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk16_1_45.xml
.idea/libraries/Gradle__org_beanshell_bsh_2_0b4.xml
.idea/libraries/Gradle__org_apache_xmlbeans_xmlbeans_2_3_0.xml
.idea/libraries/Gradle__org_apache_xbean_xbean_spring_3_7.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_1_2.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_1_2.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_cache_4_1_2.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_1_2.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_2_1.xml
.idea/libraries/Gradle__org_apache_activemq_activemq_all_5_10_0.xml
.idea/libraries/Gradle__opensymphony_sitemesh_2_2_1.xml
.idea/libraries/Gradle__ognl_ognl_2_6_5.xml
.idea/libraries/Gradle__odmg_odmg_3_0.xml
.idea/libraries/Gradle__net_sourceforge_openutils_openutils_log4j_2_0_5.xml
.idea/libraries/Gradle__net_sf_dozer_dozer_5_5_1.xml
.idea/libraries/Gradle__log4j_log4j_1_2_15.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__joda_time_joda_time_2_3.xml
.idea/libraries/Gradle__jdom_jdom_1_0.xml
.idea/libraries/Gradle__jaxen_jaxen_1_1.xml
.idea/libraries/Gradle__javax_xml_ws_jaxws_api_2_2_9.xml
.idea/libraries/Gradle__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Gradle__javax_mail_mail_1_4.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Gradle__javax_activation_activation_1_1.xml
.idea/libraries/Gradle__dom4j_dom4j_1_4.xml
.idea/libraries/Gradle__concurrent_concurrent_1_3_4.xml
.idea/libraries/Gradle__commons_vas_util_1_5_5.xml
.idea/libraries/Gradle__commons_vas_nonreg_1_1.xml
.idea/libraries/Gradle__commons_vas_mapping_1_0.xml
.idea/libraries/Gradle__commons_vas_connector_smartdispatcher_1_0.xml
.idea/libraries/Gradle__commons_vas_connector_sierra_1_4.xml
.idea/libraries/Gradle__commons_vas_connector_rules_1_6_1.xml
.idea/libraries/Gradle__commons_vas_connector_reef_1_1.xml
.idea/libraries/Gradle__commons_vas_connector_opus_1_0.xml
.idea/libraries/Gradle__commons_vas_connector_mds_1_5_7.xml
.idea/libraries/Gradle__commons_vas_connector_csv_1_5.xml
.idea/libraries/Gradle__commons_vas_connector_crds_1_2_8.xml
.idea/libraries/Gradle__commons_pool_commons_pool_1_3.xml
.idea/libraries/Gradle__commons_net_commons_net_1_4_1.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Gradle__commons_lang_commons_lang_2_4.xml
.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
.idea/libraries/Gradle__commons_fileupload_commons_fileupload_1_2.xml
.idea/libraries/Gradle__commons_discovery_commons_discovery_0_2.xml
.idea/libraries/Gradle__commons_dbcp_commons_dbcp_1_2_2.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_4.xml
.idea/libraries/Gradle__commons_cli_commons_cli_1_2.xml
.idea/libraries/Gradle__commons_beanutils_commons_beanutils_1_8_0.xml
.idea/libraries/Gradle__com_sun_xml_ws_policy_2_3_1.xml
.idea/libraries/Gradle__com_sun_xml_ws_jaxws_rt_2_2_8.xml
.idea/libraries/Gradle__com_sun_xml_stream_buffer_streambuffer_1_5.xml
.idea/libraries/Gradle__com_sun_xml_messaging_saaj_saaj_impl_1_3_20.xml
.idea/libraries/Gradle__com_sun_xml_bind_jaxb_impl_2_2_7.xml
.idea/libraries/Gradle__com_sun_xml_bind_jaxb_core_2_2_7.xml
.idea/libraries/Gradle__com_sun_messaging_mq_fscontext_4_4_2.xml
.idea/libraries/Gradle__com_smartbear_utils_analytics_out_app_analytics_provider_5_2_1.xml
.idea/libraries/Gradle__com_smartbear_utils_analytics_analytics_core_5_2_1.xml
.idea/libraries/Gradle__com_smartbear_soapui_soapui_5_3_1_RC.xml
.idea/libraries/Gradle__com_oracle_ojdbc7_12_1_0_1.xml
.idea/libraries/Gradle__com_ibm_providerutil_1_2.xml
.idea/libraries/Gradle__com_ibm_jms_2_0.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mqjms_8_0_0_5.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mq_pcf_8_0_0_5.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mq_jmqi_8_0_0_5.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mq_headers_8_0_0_5.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mq_commonservices_8_0_0_5.xml
.idea/libraries/Gradle__com_ibm_com_ibm_mq_8_0_0_5.xml
.idea/libraries/Gradle__com_google_guava_guava_11_0_2.xml
.idea/libraries/Gradle__com_fifesoft_rsyntaxtextarea_1_4_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_jsonSchema_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_8.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_8.xml
.idea/libraries/Gradle__com_btr_proxy_vole_20121203.xml
.idea/libraries/Gradle__casto_casto_datetime_1_2_4.xml
.idea/libraries/Gradle__bea_wlclient_10_3_6_0.xml
.idea/libraries/Gradle__axis_axis_wsdl4j_1_5_1.xml
.idea/libraries/Gradle__axis_axis_saaj_1_6.xml
.idea/libraries/Gradle__axis_axis_jaxrpc_1_6.xml
.idea/libraries/Gradle__axis_axis_1_6.xml
.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/codeStyleSettings.xml